---
import BlogPost from "../../components/react/blog/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";


---
<Layout title="Blog">
    <BlogPost slug="1" />
    <h1> 1 </h1>
    <BlogPost slug="2" />
 
</Layout>