---
import Layout from "../layouts/Layout.astro";

---
<Layout title="Contacto">
  <h1>Contacto</h1>
  <p>¡Hola! Si quieres ponerte en contacto conmigo, puedes hacerlo a través de <a href="https://twitter.com/astrodotbuild">Twitter</a>.</p>
</Layout>
