---

import "../styles/global.css";
import Nav from "../components/Nav.astro";
import {ClientRouter} from 'astro:transitions';


// Props de la página
const { title, description = "Un blog" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content={description} />
  <title>{title}</title>
  <ClientRouter />
</head>

<body class="bg-gray-100 min-h-screen">
  <Nav/>
  <slot />
</body>
</html>